<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="./css/index.css" />
	<link rel="stylesheet" href="../brank/bootstrap.min.css" />
	<link rel="stylesheet" href="../brank/mui.min.css" />
	  <link rel="stylesheet" href="../brank/idangerous.swiper.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
	<title>rent house</title>
</head>
<body>
 <div class="swiper-container" style="width:100%;height:660px">
        <div class="swiper-wrapper" style="height:100%!important">
            <div class="swiper-slide">

             <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
            <!--侧滑菜单部分-->
                <aside id="offCanvasSide" class="mui-off-canvas-left">
                <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                    <div style="height:221px;background:url(./img/a10.jpg);padding:50px">
                         <img class="img-circle" src="./img/6.jpg" style="width:100px;height:100px">
                        <p style="color:#fff;font-size:36px"> More</p>
                        <p style="color:#fff">签名：幸福着</p>
                    </div>
                    <div class="bg1 clearfix" style="background:#fff" >
        <div  style="width:34%;float:left" data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-delay="" class=" qfy-column-3-5989759a4f659592417 qfy-column-inner  vc_span_mobile6 vc_span_mobile vc_span3  text-Default small-screen-undefined notfullrow" data-dw="1/4" data-fixheight=""><div style="margin-top:0;margin-bottom:0;margin-left:5px;margin-right:5px;border-radius:0px;border-top:1px solid rgba(247,247,247,1);border-bottom:1px solid rgba(247,247,247,1);border-left:1px solid rgba(247,247,247,1);border-right:1px solid rgba(247,247,247,1);;position:relative;;" class="column_inner mouseHover"><div class=" background-overlay grid-overlay-0" style="background-color:transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;"><style>@media only screen and (max-width: 768px) {.single_image_text-5989759a4ff6e842 .head{font-size: 16px !important;}.single_image_text-5989759a4ff6e842 .content{font-size: 16px !important;}}</style>
  <div id="vc_img_5989759a4feff911" style="width:100%;padding:0px;margin:0px;height:100%;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:0;padding-right:0;padding-left:0;background-repeat: no-repeat;" m-padding="20px 0px 0px 0px" p-padding="20px 0 0 0" css_animation_delay="0.5" qfyuuid="qfy_single_image_yvssq" data-anitime="0.7" class="qfy-element bitImageControlDiv"><a class="bitImageAhover  ">
  <div class="bitImageParentDiv wpb_single_image wpb_content_element vc_align_center">
    <div class="wpb_wrapper"><span></span><img class="front_image   ag_image" src="http://static.qifeiye.com/caches/f14b4b77c0eecfe5a34c716fea5c2437/aHR0cDovLzU5NDdhOTc1OTAwNzYudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNy8wNi9jNGZhYWE1N2U1NDgzZWEzMThmNjBmN2FlMWUzMWVhNS02NHg2NC5wbmc_p_p100_p_3D.png" alt="1498141197_47" description="" data-title="1498141197_47" title="" src-img="" style=""></div> 
  </div> 
  </a></div><a class="bitImageAhover  "> </a><style></style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a50259448 .header_title{font-size:16px !important;}}</style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a50259448 .header_subtitle{font-size:12px !important;}}</style>
  <div id="vc_header_5989759a50259448" m-padding="20px 0px 10px 0px" p-padding="20px 0 10px 0" css_animation_delay="0" qfyuuid="qfy_header_fsx7u" data-anitime="0.7" class="qfy-element minheigh1px wpb_text_column wpb_content_element " style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;">
    <div class="wpb_wrapper">
      <h1 class="qfy_title center mobilecenter"><div class="qfy_title_image_warpper" style="display:inline-block;position:relative;max-width:100%;width:100%;"><div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;"><div class="header_title" style="font-family:微软雅黑;font-size:18px;font-weight:normal;font-style:normal;color:#ff7519;padding:0 0 5px 0;display:block;padding:0 0 5px 0;vertical-align:bottom;">单词本</div><div class="header_subtitle" style="font-family:arial;font-size:14px;font-weight:normal;font-style:normal;color:#ff7519;display:block;padding:2px;vertical-align:bottom;">comic</div></div><style></style><div class="button_wrapper" style="display:none;"><div class="button " style="display:inline-block;max-width:100%;text-align:center; font-family:微软雅黑; font-size:12px; color:#999999; border-width:1px; border-style:solid;border-color:#999999; padding:4px 15px;">查看更多</div></div><span style="clear:both;"></span></div></h1>
    </div> 
  </div> </div></div></div>
  <div style="width:34%;float:left" data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-delay="" class=" qfy-column-4-5989759a505e936763 qfy-column-inner  vc_span_mobile6 vc_span_mobile vc_span3  text-Default small-screen-undefined notfullrow" data-dw="1/4" data-fixheight=""><div style="margin-top:0;margin-bottom:0;margin-left:5px;margin-right:5px;border-radius:0px;border-top:1px solid rgba(247,247,247,1);border-bottom:1px solid rgba(247,247,247,1);border-left:1px solid rgba(247,247,247,1);border-right:1px solid rgba(247,247,247,1);;position:relative;;" class="column_inner mouseHover"><div class=" background-overlay grid-overlay-0" style="background-color:transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;"><style>@media only screen and (max-width: 768px) {.single_image_text-5989759a50ebc961 .head{font-size: 16px !important;}.single_image_text-5989759a50ebc961 .content{font-size: 16px !important;}}</style>
  <div id="vc_img_5989759a50e4c583" style="width:100%;padding:0px;margin:0px;height:100%;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:0;padding-right:0;padding-left:0;background-repeat: no-repeat;" m-padding="20px 0px 0px 0px" p-padding="20px 0 0 0" css_animation_delay="0.5" qfyuuid="qfy_single_image_yvssq" data-anitime="0.7" class="qfy-element bitImageControlDiv"><a class="bitImageAhover  ">
  <div class="bitImageParentDiv wpb_single_image wpb_content_element vc_align_center">
    <div class="wpb_wrapper"><span></span><img class="front_image   ag_image" src="http://static.qifeiye.com/caches/f14b4b77c0eecfe5a34c716fea5c2437/aHR0cDovLzU5NDdhOTc1OTAwNzYudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNy8wNi8zNTEzMDI0MTk5NDA0Nzg0ODk4YmViMWIyZmUwZGJlMC02NHg2NC5wbmc_p_p100_p_3D.png" alt="1498141113_17" description="" data-title="1498141113_17" title="" src-img="" style=""></div> 
  </div> 
  </a></div><a class="bitImageAhover  "> </a><style></style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a5119d871 .header_title{font-size:16px !important;}}</style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a5119d871 .header_subtitle{font-size:12px !important;}}</style>
  <div id="vc_header_5989759a5119d871" m-padding="20px 0px 10px 0px" p-padding="20px 0 10px 0" css_animation_delay="0" qfyuuid="qfy_header_fsx7u" data-anitime="0.7" class="qfy-element minheigh1px wpb_text_column wpb_content_element " style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;">
    <div class="wpb_wrapper">
      <h1 class="qfy_title center mobilecenter"><div class="qfy_title_image_warpper" style="display:inline-block;position:relative;max-width:100%;width:100%;"><div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;"><div class="header_title" style="font-family:微软雅黑;font-size:18px;font-weight:normal;font-style:normal;color:#ff7519;padding:0 0 5px 0;display:block;padding:0 0 5px 0;vertical-align:bottom;">学习计划</div><div class="header_subtitle" style="font-family:arial;font-size:14px;font-weight:normal;font-style:normal;color:#ff7519;display:block;padding:2px;vertical-align:bottom;">manual</div></div><style></style><div class="button_wrapper" style="display:none;"><div class="button " style="display:inline-block;max-width:100%;text-align:center; font-family:微软雅黑; font-size:12px; color:#999999; border-width:1px; border-style:solid;border-color:#999999; padding:4px 15px;">查看更多</div></div><span style="clear:both;"></span></div></h1>
    </div> 
  </div> </div></div></div>
  <div style="width:32%;float:left" data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-delay="" class=" qfy-column-1-5989759a4cd1a73039 qfy-column-inner  vc_span_mobile6 vc_span_mobile vc_span3  text-Default small-screen-undefined notfullrow" data-dw="1/4" data-fixheight=""><div style="margin-top:0;margin-bottom:0;margin-left:5px;margin-right:5px;border-radius:0px;border-top:1px solid rgba(247,247,247,1);border-bottom:1px solid rgba(247,247,247,1);border-left:1px solid rgba(247,247,247,1);border-right:1px solid rgba(247,247,247,1);;position:relative;;" class="column_inner mouseHover"><div class=" background-overlay grid-overlay-0" style="background-color:transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;"><style>@media only screen and (max-width: 768px) {.single_image_text-5989759a4db69700 .head{font-size: 16px !important;}.single_image_text-5989759a4db69700 .content{font-size: 16px !important;}}</style>
  <div id="vc_img_5989759a4daa6424" style="width:100%;padding:0px;margin:0px;height:100%;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:0;padding-right:0;padding-left:0;background-repeat: no-repeat;" m-padding="20px 0px 0px 0px" p-padding="20px 0 0 0" css_animation_delay="0.5" qfyuuid="qfy_single_image_yvssq" data-anitime="0.7" class="qfy-element bitImageControlDiv"><a class="bitImageAhover  ">
  <div class="bitImageParentDiv wpb_single_image wpb_content_element vc_align_center">
    <div class="wpb_wrapper"><span></span><img class="front_image   ag_image" src="http://static.qifeiye.com/caches/f14b4b77c0eecfe5a34c716fea5c2437/aHR0cDovLzU5NDdhOTc1OTAwNzYudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNy8wNi8wYzZlZmE5OThhZGU4ZDUyOGNhOWE4NTA5MzhmNDliMi02NHg2NC5wbmc_p_p100_p_3D.png" alt="raster" description="" data-title="raster" title="" src-img="" style=""></div> 
  </div> 
  </a></div><a class="bitImageAhover  "> </a><style></style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a4e33f562 .header_title{font-size:16px !important;}}</style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a4e33f562 .header_subtitle{font-size:12px !important;}}</style>
  <div id="vc_header_5989759a4e33f562" m-padding="20px 0px 10px 0px" p-padding="20px 0 10px 0" css_animation_delay="0" qfyuuid="qfy_header_fsx7u" data-anitime="0.7" class="qfy-element minheigh1px wpb_text_column wpb_content_element " style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;">
    <div class="wpb_wrapper">
      <h1 class="qfy_title center mobilecenter"><div class="qfy_title_image_warpper" style="display:inline-block;position:relative;max-width:100%;width:100%;"><div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;"><div class="header_title" style="font-family:微软雅黑;font-size:18px;font-weight:normal;font-style:normal;color:#ff7519;padding:0 0 5px 0;display:block;padding:0 0 5px 0;vertical-align:bottom;">默写</div><div class="header_subtitle" style="font-family:arial;font-size:14px;font-weight:normal;font-style:normal;color:#ff7519;display:block;padding:2px;vertical-align:bottom;"></div></div><style></style><div class="button_wrapper" style="display:none;"><div class="button " style="display:inline-block;max-width:100%;text-align:center; font-family:微软雅黑; font-size:12px; color:#999999; border-width:1px; border-style:solid;border-color:#999999; padding:4px 15px;">查看更多</div></div><span style="clear:both;"></span></div></h1>
    </div> 
  </div> </div></div></div>
  <div style='width:34%;float:left' data-animaleinbegin="90%" data-animalename="qfyfadeInUp" data-delay="" class=" qfy-column-2-5989759a4e711875985 qfy-column-inner  vc_span_mobile6 vc_span_mobile vc_span3  text-Default small-screen-undefined notfullrow" data-dw="1/4" data-fixheight=""><div style="margin-top:0;margin-bottom:0;margin-left:5px;margin-right:5px;border-radius:0px;border-top:1px solid rgba(247,247,247,1);border-bottom:1px solid rgba(247,247,247,1);border-left:1px solid rgba(247,247,247,1);border-right:1px solid rgba(247,247,247,1);;position:relative;;" class="column_inner mouseHover hover"><div class=" background-overlay grid-overlay-0" style="background-color:transparent;width:100%;"></div><div class="column_containter" style="z-index:3;position:relative;"><style>@media only screen and (max-width: 768px) {.single_image_text-5989759a4eff2549 .head{font-size: 16px !important;}.single_image_text-5989759a4eff2549 .content{font-size: 16px !important;}}</style>
  <div id="vc_img_5989759a4ef82978" style="width:100%;padding:0px;margin:0px;height:100%;clear:both;position:relative;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:0;padding-right:0;padding-left:0;background-repeat: no-repeat;" m-padding="20px 0px 0px 0px" p-padding="20px 0 0 0" css_animation_delay="0.5" qfyuuid="qfy_single_image_yvssq" data-anitime="0.7" class="qfy-element bitImageControlDiv"><a class="bitImageAhover  ">
  <div class="bitImageParentDiv wpb_single_image wpb_content_element vc_align_center">
    <div class="wpb_wrapper"><span></span><img class="front_image   ag_image" src="http://static.qifeiye.com/caches/f14b4b77c0eecfe5a34c716fea5c2437/aHR0cDovLzU5NDdhOTc1OTAwNzYudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNy8wNi8yNGU4Yjc4NWQ2NzcxZGI5NTNlZWQzNjZlY2IyMzQ1NS02NHg2NC5wbmc_p_p100_p_3D.png" alt="1498141161_18" description="" data-title="1498141161_18" title="" src-img="" style=""></div> 
  </div> 
  </a></div><a class="bitImageAhover  "> </a><style></style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a4f2cd837 .header_title{font-size:16px !important;}}</style><style>@media only screen and (max-width: 760px) {#vc_header_5989759a4f2cd837 .header_subtitle{font-size:12px !important;}}</style>
  <div id="vc_header_5989759a4f2cd837" m-padding="20px 0px 10px 0px" p-padding="20px 0 10px 0" css_animation_delay="0" qfyuuid="qfy_header_fsx7u" data-anitime="0.7" class="qfy-element minheigh1px wpb_text_column wpb_content_element " style="position: relative;;;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:20px;padding-bottom:10px;padding-right:0;padding-left:0;">
    <div class="wpb_wrapper">
      <h1 class="qfy_title center mobilecenter"><div class="qfy_title_image_warpper" style="display:inline-block;position:relative;max-width:100%;width:100%;"><div class="qfy_title_inner" style="display:inline-block;position:relative;max-width:100%;"><div class="header_title" style="font-family:微软雅黑;font-size:18px;font-weight:normal;font-style:normal;color:#ff7519;padding:0 0 5px 0;display:block;padding:0 0 5px 0;vertical-align:bottom;">趣味</div><div class="header_subtitle" style="font-family:arial;font-size:14px;font-weight:normal;font-style:normal;color:#ff7519;display:block;padding:2px;vertical-align:bottom;">sketch</div></div><style></style><div class="button_wrapper" style="display:none;"><div class="button " style="display:inline-block;max-width:100%;text-align:center; font-family:微软雅黑; font-size:12px; color:#999999; border-width:1px; border-style:solid;border-color:#999999; padding:4px 15px;">查看更多</div></div><span style="clear:both;"></span></div></h1>
    </div> 
  </div> </div></div></div>

                    </div>
                      <div style="background:#fff;height:35px;text-align:right">
  <span style="color:orange;font-size:18px;padding-right:8px">设置</span>
  </div>
                    </div>
                </div>
               </aside>
            <!--主界面部分-->
            <div class="mui-inner-wrap" style="width:100%;height:660px">
              <div class="mui-content mui-scroll-wrapper">
             <header class="mui-bar mui-bar-nav" style="background:#000;">
            <a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left" style="color:#fff"></a>
            <h1 class="mui-title" style="color:#fff">阅读</h1>
        </header>
           <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
            <div id="tabbar"  class="mui-scroll mui-control-content mui-active">
                <!--下拉刷新容器-->
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell" style="padding-right:0;">
                      <div class="col-xs-8">
                      <p style="text-align:center;padding-bottom:20px">2013.6(1)CET-6阅读真题B1</p>
              
                      <p style="text-align:center">六级真题
                      <span>单词数431</span>
                      </p>
                      </div>
                      <div class="col-xs-4" style="padding:5px"><img src="./img/a1.jpg" style="width:100%;height:100%"></div>
                    </li>
                     <li class="mui-table-view-cell" style="padding-right:0;">
                      <div class="col-xs-8">
                      <p style="text-align:center;padding-bottom:20px">2013.6(1)CET-6阅读真题B1</p>
              
                      <p style="text-align:center">六级真题
                      <span>单词数431</span>
                      </p>
                      </div>
                      <div class="col-xs-4" style="padding:5px"><img src="./img/a2.jpg" style="width:100%;height:100%"></div>
                    </li>
                     <li class="mui-table-view-cell" style="padding-right:0;">
                      <div class="col-xs-8">
                      <p style="text-align:center;padding-bottom:20px">2013.6(1)CET-6阅读真题B1</p>
              
                      <p style="text-align:center">六级真题
                      <span>单词数431</span>
                      </p>
                      </div>
                      <div class="col-xs-4" style="padding:5px"><img src="./img/a3.jpg" style="width:100%;height:100%"></div>
                    </li>
                    <li class="mui-table-view-cell" style="padding-right:0;">
                      <div class="col-xs-8">
                      <p style="text-align:center;padding-bottom:20px">2013.6(1)CET-6阅读真题B1</p>
              
                      <p style="text-align:center">六级真题
                      <span>单词数431</span>
                      </p>
                      </div>
                      <div class="col-xs-4" style="padding:5px"><img src="./img/a4.jpg" style="width:100%;height:100%"></div>
                    </li>
                     <li class="mui-table-view-cell" style="padding-right:0;">
                      <div class="col-xs-8">
                      <p style="text-align:center;padding-bottom:20px">2013.6(1)CET-6阅读真题B1</p>
              
                      <p style="text-align:center">六级真题
                      <span>单词数431</span>
                      </p>
                      </div>
                      <div class="col-xs-4" style="padding:5px"><img src="./img/a5.jpg" style="width:100%;height:100%"></div>
                    </li>
                </ul>
        <footer>
      <ul>
      <li>
          <i class="mui-icon mui-icon-starhalf"></i>
          <span>阅读</span>
          </li>
      </ul>
    </footer>
            </div>
            <div id="tabbar-with-chat" class="mui-control-content">
                <p>第2页</p>
            </div>
            <div id="tabbar-with-contact" class="mui-control-content">
                <p>第3页</p>
            </div>
            <div id="tabbar-with-map" class="mui-control-content">
                <p>第4页</p>
            </div>
        </div>

              </div>
                <!-- off-canvas backdrop -->
                <div class="mui-off-canvas-backdrop"></div>
        
             </div>
            </div>

            </div>
            <div class="swiper-slide">
              <header>发现</header>
    <nav>
    <img src="img/1.jpg" class="imgs" style="display: block;">
  <img src="img/3.jpg" class="imgs">
  <img src="img/4.jpg" class="imgs">
  <img src="img/2.jpg" class="imgs">
  <ul>
    <li style="background: red"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul></nav>
    <div class="content">
      <div>
        <i class="iconfont icon-group"></i>
        <span>知米小班</span>
      </div>
      <div>
        <i class="iconfont icon-xueli"></i>
        <span>校园排行榜</span>
      </div>
      <div>
        <i class="iconfont icon-xuexiziliao"></i>
        <span>学习资料</span>
      </div>
      <div class="con">
        <div >
          <i class="iconfont icon-huahuacaocaogai"></i>
          <span>一元秒杀</span>
        </div>
        <span class="s1">12国外语任意学 ></span>
      </div>
      <div class="con">
        <div >
          <i class="iconfont icon-liwu"></i>
          <span>活动专区</span>
        </div>
        <span class=s1>好玩的都在这里></span>
      </div>
      <div>
        <i class="iconfont icon-shangcheng"></i>
        <span>知米商城</span>
      </div>
       <div>
        <i class="iconfont icon-shangcheng"></i>
        <span>知米听力------<span class="listen-btn" style="background:yellow;padding:3px;border-radius:3px">点击进入听力页面</span></span>
      </div>
       <div>
        <i class="iconfont icon-shangcheng"></i>
        <span>知米影视</span>
      </div>
    </div>
    <footer>
      <ul>
      <li>
          <i class="iconfont icon-faxian"></i>
          <span>发现</span>
          </li>
      </ul>
    </footer>
           </div>
            <div class="swiper-slide">
            <header>登录</header>
             <div class="bg3">
             <div class="form-box">
        <form method="" name="">
      <div class="input-form">
              <input class="inputstyle" type="text" id="" placeholder="请输入手机号">
            </div>
            <div class="lins"></div>
            <div class="input-form">
              <input class="inputstyle" type="password" id="" placeholder="请输入密码">
            </div>
            <div class="lins"></div>
            <div class="lins"></div>
            <div class="sub">
              <input type="submit" name="submit" id="" value="登录">
            </div>
            <div class="newuer">
              <p><a href="reg.html">新用户注册</a></p>
            </div>
            <div <div="" class="or">
            <span class="division aui-pull-left"></span>
            <span class="txt-or">or</span>
            <span class="division aui-pull-right">忘记密码</span>
            </div>
       </form>          
  </div>
             </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    </body>
<script src='../brank/mui.min.js'></script>
<script src="../brank/idangerous.swiper.min.js"></script>
<script src='../brank/jquery-3.2.1.min.js'></script>
    <script>
    var swiper = new Swiper('.swiper-container');


// 图片轮播

    var imgs=document.getElementsByClassName('imgs');
    var nav=document.getElementsByTagName('nav');
   var li =  $(nav).find('li')
    console.log(li)
    var i=0;
    z=setInterval(lun,2000)

    function lun(){
      i++;
      if(i>=imgs.length){
        i=0
      }
      for(var j=0;j<imgs.length;j++){
        imgs[j].style.display="none";
        li[j].style.background="yellow"
      }
      imgs[i].style.display="block";
      li[i].style.background="red"
    } 

    for(var j=0;j<li.length;j++){
      li[j].Index=j;

      li[j].onmouseover=function(){
        clearInterval(z)
        i=this.Index;
        for(var a=0;a<li.length;a++){
          li[a].style.backgroundColor="yellow"
          imgs[a].style.display="none"
        }
        li[this.Index].style.backgroundColor="#f00"
        imgs[this.Index].style.display="block"
      }
      li[j].onmouseout=function(){
        z=setInterval(lun,2000)
      }
    }


$('.listen-btn').on('click',function(){
   window.location.href = "http://192.168.0.11/views/listen.html"
})


var num = 0;
 var page = '首页';
    mui.init({
        pullRefresh: {
            container: "#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
            down: {
                height: 50,//可选,默认50.触发下拉刷新拖动距离,
                auto: false,//可选,默认false.首次加载自动下拉刷新一次
                contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                callback: function () {
                    if (page != '首页') return mui('#refreshContainer').pullRefresh().endPulldownToRefresh();//结束下拉刷新
                    setTimeout(function () {
                        mui('#refreshContainer').pullRefresh().endPulldownToRefresh();//结束下拉刷新
                    }, 1000);
                } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
            },
            up: {
                height: 50,//可选.默认50.触发上拉加载拖动距离
                auto: false,//可选,默认false.自动上拉加载一次
                contentrefresh: "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                callback: function () {
                    if (page.indexOf('首页') > -1) {
                        var arr = '这是li标签';
                        var str = '';
                         num++;
                        var json = {num:num}
                        $.get('http://192.168.0.11/show',json,function(data){
                             console.log(data)
                          if(data.msg){
                            mui.alert('没有更多数据了')}else{

                          data.data.forEach(function(val,index){
                                str += '<li class="mui-table-view-cell" style="padding-right:0;">\
                      <div class="col-xs-8">\
                      <p style="text-align:center;padding-bottom:20px">'+val.name+'</p>\
              \
                      <p style="text-align:center">'+val.type+'\
                      <span>'+val.number+'</span>\
                      </p>\
                      </div>\
                      <div class="col-xs-4" style="padding:5px"><img src="./img/'+val.img+'" style="width:100%;height:100%"></div>\
                    </li>';

                            })
                        $('.mui-table-view').append(str);
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh();
                      }
                      })
              
                    } else {
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh();
                    }
                } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
            }
        }
    });
    mui(".mui-bar-tab").on('tap','.mui-tab-item',function(){
        page = this.innerText;
    })

  </script>


<script src='./js/index.js'></script>

</html>

